  
/* colors 
grass- #7DCEA0
*/

* {
  box-sizing: border-box;
}

.pokemon-list {
  list-style-type: none;
  }

.body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: medium;
  }




.button-style {
 background-color: #7DCEA0;
 font-size: 16px;
 border: none;
 text-align: center;
 font-size: 16px;
 padding: 12px 28px;
 margin: 4px 2px;
 border-radius: 12px;
 transition-duration: 4s;
 cursor: pointer;
 }


.modal {
  position: fixed;
/*   display: none; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:aliceblue;
  height: 75%;
  width: 75%;
  text-align: center;
  border-radius: 12px;
  overflow: auto;
  z-index: 999;
  text-transform:capitalize;
}


.close {
/*   display:none; */
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
 
}


